@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


 :root {
	 --d: 700ms;
	 --e: cubic-bezier(0.19, 1, 0.22, 1);
	 --font-sans: 'Rubik', sans-serif;
	 --font-serif: 'Cardo', serif;
}
 * {
	 box-sizing: border-box;
}
 html, body {
	 height: 100%;
}
 body {
	 display: grid;
	 place-items: center;
 	 margin: 0;
	 overflow-x: hidden;
	 z-index: 1
}

.bg {
    background: #000000;  
    background: -webkit-linear-gradient(to left, #000000, #3f0000);  
    width: 100%;
    height:100vh;
	position: fixed;
	z-index: -1
}

.selection {
	display: block;
	
	z-index: 1;
	font-family: Arial, Helvetica, sans-serif;
    margin-block: auto;
	
}

.linkButton{
	display: flex;
	text-decoration: none ;
	position: absolute;
	padding: 15px 15px;
  	background-color: #ee3939;
  	color: #ffffff;
  	font-weight: bold;
	font-size: 15px;
  	border: none;
	width: auto;
 	border-radius: 20px;
	margin-left: 530px;
  	overflow: hidden;
  	transition: 0.3s;
	z-index: -1;
  	cursor: pointer;

}

.linkButton:hover {
	background-color: #a82828;

}




.button{
	padding: 25px 30px;
  	background-color: #ffb091;
  	color: #ffffff;
  	font-weight: bold;
	font-size: 30px;
  	border: none;
	width: 300px;
 	border-radius: 20px;
	margin-left: 10px;
  	overflow: hidden;
  	transition: 0.3s;
	z-index: -1;
  	cursor: pointer;
	
}

.button:hover{
	background-color: #ff804e;
}




.circles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: fixed;
    display: block;
    list-style: none;
    width: 200px;
    height: 200px;
    background: rgba(255, 0, 0, 0.2);
    animation: animate 25s linear infinite;
    bottom: -350px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 200px;
    height: 200px;
    animation-delay: 1s;
	animation-duration: 10s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 200px;
    height: 200px;
    animation-delay: 2s;
    
	animation-duration: 10s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 200px;
    height: 200px;
   
	animation-duration: 13s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
   
	animation-duration: 21s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 200px;
    height: 200px;
    animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
	animation-duration: 11s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 1s;
	animation-duration: 10s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 1s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 35px;
    height: 35px;
    animation-delay: 0s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-3500px) rotate(720deg);
        opacity: 0.1;
        border-radius: 80%;
    }

}

.exampleGrid{
	display: flex;
  	align-items: center;
  	justify-content: center;
	margin: 10px;
	z-index: -1;
	
	
}

.examplebox button{
	width: 100px;
	height: 100px;
	font-weight: bold;
	border-radius: 10px;
	z-index: -1;
	font-size: 15px;
	background-color: #ffdacb;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 40px;
	margin-right: 40px;
	border:none;
	
}

.examplebox button:hover{
	background-color: #ffe6cf;
	width: 100px;
	height: 100px;
	display: flex;
	z-index: -1;
}

.examplebox {
	margin-top: 100px;
	list-style-type: none;
  	display: flex;
 	justify-content: center;
  	flex-wrap: wrap;
  	padding: 0;
  	gap: 2px;
  	border-radius: 20px;
  	overflow: hidden;
	color: white;
	max-width: 1000px;
	overflow-wrap: normal;
	font-weight: bolder;
	display: flex;
	z-index: 1;
	background-color: #ffb091;
	border-radius: 10px;
	
}

.tab{
	overflow: hidden;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
  }
  

 .page-content {
	 display: grid;
	 grid-gap: 1rem;
	 padding: 1rem;
	 max-width: 1024px;
	 margin: 0 auto;
	 font-family: var(--font-sans);
	 z-index: 1
}
 @media (min-width: 600px) {
	 .page-content {
		 grid-template-columns: repeat(2, 1fr);
	}
}
 @media (min-width: 800px) {
	 .page-content {
		 grid-template-columns: repeat(4, 1fr);
	}
}
 .card {
	 position: relative;
	 margin-bottom: 50px;
	 display: flex;
	 z-index: 1;
	 align-items: flex-end;
	 overflow: hidden;
	 padding: 1rem;
	 width: 100%;
	 text-align: center;
	 color: whitesmoke;
	 background-color: whitesmoke;
	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
 @media (min-width: 600px) {
	 .card {
		 height: 350px;
		 
	}
}
 .card:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 110%;
	 background-size: cover;
	 background-position: 0 0;
	 transition: transform calc(var(--d) * 1.5) var(--e);
	 pointer-events: none;
}
 .card:after {
	 content: '';
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 200%;
	 pointer-events: none;
	 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.363) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
	 transform: translateY(-50%);
	 transition: transform calc(var(--d) * 2) var(--e);
}
 .card:nth-child(1):before {
	 background-image: url(https://production-gameflipusercontent.fingershock.com/us-east-1:eccc2583-06cd-4174-b5b2-cfefd7925be1/156b15d8-8b72-4fd6-a93a-cbf3873a5b61/9599a799-2b4b-40c6-ae43-486749735515);
}
 .card:nth-child(2):before {
	 background-image: url();
}
 .card:nth-child(3):before {
	 background-image: url();
}
 .card:nth-child(4):before {
	 background-image: url();
}
 .content {
	 position: relative;
	 display: flex;
	 z-index: 1;
	 flex-direction: column;
	 align-items: center;
	 width: 100%;
	 padding: 1rem;
	 transition: transform var(--d) var(--e);
	 z-index: 1;
}
 .content > * + * {
	 margin-top: 1rem;
}


.main-title {
	margin-top: 100px;
	z-index: 1;
	font-size: 2.3vh;
	
}



 .title {
	 
	 z-index: 1;
	 font-weight: bold;
	 line-height: 1.2;
}
 .copy {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 1.125rem;
	 z-index: 1;
	 font-style: italic;
	 line-height: 1.35;
}
 .btn {
	 cursor: pointer;
	 margin-top: 1.5rem;
	 padding: 0.75rem 1.5rem;
	 font-size: 0.65rem;
	 font-weight: bold;
	 z-index: 1;
	 border-radius: 10px;
	 letter-spacing: 0.025rem;
	 text-transform: uppercase;
	 color: white;
	 background-color: rgb(51, 51, 51);
	 border: none;
}
 .btn:hover {
	 background-color: #350000;
}
 .btn:focus {
	 outline: 1px dashed yellow;
	 outline-offset: 3px;
}

.btnicon {
	margin-bottom: 4px;
	font-size: 15px;

}

 @media (hover: hover) and (min-width: 600px) {
	 .card:after {
		 transform: translateY(0);
	}
	 .content {
		 transform: translateY(calc(100% - 4.5rem));
	}
	 .content > *:not(.title) {
		 opacity: 0;
		 transform: translateY(1rem);
		 transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}
	 .card:hover, .card:focus-within {
		 align-items: center;
	}
	 .card:hover:before, .card:focus-within:before {
		 transform: translateY(-4%);
	}
	 .card:hover:after, .card:focus-within:after {
		 transform: translateY(-50%);
	}
	 .card:hover .content, .card:focus-within .content {
		 transform: translateY(0);
	}
	 .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
		 opacity: 1;
		 transform: translateY(0);
		 transition-delay: calc(var(--d) / 8);
	}
	 .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
		 transition-duration: 0s;
	}
}
 
*, *:after, *:before {
	box-sizing: border-box;
}
body {
	font-family: "Inter", sans-serif;

}
.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	color: #ffffff;
	font-size: calc(1em + 8vw);
	z-index: 1;
	font-weight: 1000;
	text-shadow: -0.0075em 0.0075em 0 #e7e7e7, 0.005em 0.005em 0 #ebebeb, 0.01em 0.01em 0 #ce0000, 0.015em 0.015em #ce0000, 0.02em 0.02em 0 #ce0000, 0.025em 0.025em 0 #ce0000, 0.03em 0.03em 0 #ce0000, 0.035em 0.035em 0 #ce0000;
}

h2{
	color: #ffffff;
	font-size: calc(1em + 1vw);
	z-index: 1;
	font-weight: 1000;
	text-align: center ;
	margin-bottom: 50px;
	text-shadow: -0.0075em 0.0075em 0 #e7e7e7, 0.005em 0.005em 0 #0099ff, 0.01em 0.01em 0 #0099ff, 0.015em 0.015em #0099ff, 0.02em 0.02em 0 #0099ff, 0.025em 0.025em 0 #0099ff, 0.03em 0.03em 0 #0099ff, 0.035em 0.035em 0 #0099ff;
}


.examples {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	color: #ffffff;
	z-index: 1;
	font-size: 3.5vh;
	line-height: 1.35;

}

.personal {
	
	overflow-wrap: break-word;
  	word-wrap: break-word;
	z-index: 1;
  	hyphens: auto;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 3.3vh;
	display: flex;
	line-height: 1.35;
	
}

.personalbox {
	
	padding-left: 100px;
	padding-right: 100px;
	z-index: 1;
	width: auto;
	height: auto;
	overflow-wrap: break-word;
  	word-wrap: break-word;
  	hyphens: auto;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 1.3rem;
	line-height: 1.35;
	
}

 .container {
	 height: 70px;
	 padding: 55px;
	 position: fixed;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 text-align: center;
}

.icons {
	color: #ffffff;
	font-size: 2rem;
	opacity: 1;
	top: 50px;
	padding-top: 8px;
	z-index: 1;
	padding-left: 8px;
	transform: rotate(0deg);
	transition-delay: 0.08s;
}
 
.linkedin:hover  {
	text-shadow: 2px 2px #ffffff;
	color: #7192da;
	
}
.twitter:hover {
	text-shadow: 2px 2px #ffffff;
	color: #85caff;
	
}
.github:hover {
	text-shadow: 2px 2px #ffffff;
	color: #c4c4c4;
	
}
.instagram:hover {
	text-shadow: 2px 2px #ffffff;
	color: #f1627c;
	
}














.menu.topLeft {
	color: #ffffff;
}





 .menu {
	 z-index: 999;
	 position: fixed;
	 padding: 0;
	 z-index: 1;
	 margin: 0;
	 list-style-type: none;
}
 .menu .share i.fa {
	 height: 50px;
	 width: 50px;
	 text-align: center;
	 line-height: 50px;

	 border-radius: 2px;
}
 .menu .share:hover.bottom li:nth-child(1) {
	 opacity: 1;
	 top: 50px;
	 padding-top: 8px;
	 padding-left: 8px;
	 transform: rotate(0deg);

	 transition-delay: 0.08s;
}
 .menu .share:hover.bottom li:nth-child(2) {
	 opacity: 1;
	 top: 100px;
	 padding-left: 8px;
	 padding-top: 8px;
	 transform: rotate(0deg);

	 transition-delay: 0.16s;
}
 .menu .share:hover.bottom li:nth-child(3) {
	 opacity: 1;
	 top: 150px;
	 transform: rotate(0deg);
	 padding-left: 8px;
	 padding-top: 8px;

	 transition-delay: 0.24s;
}
 .menu .share:hover.bottom li:nth-child(4) {
	 opacity: 1;
	 top: 200px;
	 padding-left: 8px;
	 padding-top: 8px;
	 transform: rotate(0deg);

	 transition-delay: 0.32s;
}
 .menu .share:hover.bottom li:nth-child(5) {
	 opacity: 1;
	 top: 250px;
	 padding-left: 8px;
	 padding-top: 8px;
	 transform: rotate(0deg);
	
	 transition-delay: 0.4s;
}


 .menu .submenu {
	 list-style-type: none;
	 padding: 10;
	 margin: 0;
}
 .menu .submenu li {
	 transition: all ease-in-out 0.5s;
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: -1;
	 opacity: 0;
}
 .menu .submenu li a {
	 color: #ffffff;
}
 .menu .submenu li a:hover i.fa {
	 color: rgb(255, 255, 255);
}
 .menu .submenu li a:hover.linkedin i.fa {
	 background-color: #3b5999;
}
 .menu .submenu li a:hover.twitter i.fa {
	 background-color: #55acee;
}
 .menu .submenu li a:hover.github i.fa {
	 background-color: #dd4b39;
}
 .menu .submenu li a:hover.instagram i.fa {
	 background-color: #e4405f;
}
 .menu .submenu li:nth-child(1) {
	 transform: rotateX(45deg);
}
 .menu .submenu li:nth-child(2) {
	 transform: rotateX(90deg);
}
 .menu .submenu li:nth-child(3) {
	 transform: rotateX(135deg);
}
 .menu .submenu li:nth-child(4) {
	 transform: rotateX(180deg);
}
 .menu.topLeft {
	 top: 10px;
	 left: 10px;
}
 .menu.topRight {
	 top: 10px;
	 right: 10px;
}
 .menu.bottomLeft {
	 bottom: 10px;
	 left: 10px;
}
 .menu.bottomRight {
	 bottom: 10px;
	 right: 10px;
}

.socialmenu {
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 1rem;
	line-height: 1.35;
	display: flex;
	z-index: 1;
	align-items: center;
	text-align-last: center;
	justify-content: center;

}

.hello {
	display: inline;
	z-index: 1;
}

.thomas {
	display: inline;
	z-index: 1;
}

.animation {
	transition: 0.8s;
}

li {
	transition: transform 0.25s ease-in-out;
	z-index: 1;
}


li:hover {
	transform: rotate(16deg);
  }
.hello:hover:nth-child(1) {


	color: #be0023;

	text-shadow: -0.0075em 0.0075em 0 #be0023, 0.005em 0.005em 0 #be0023, 0.01em 0.01em 0 #ce0000, 0.015em 0.015em #ce0000, 0.02em 0.02em 0 #ce0000, 0.025em 0.025em 0 #ce0000, 0.03em 0.03em 0 #ce0000, 0.035em 0.035em 0 #ce0000;
}

.hello:active:nth-child(1) {


	text-decoration: underline ;

	text-shadow: -0.0075em 0.0075em 0 #be0023, 0.005em 0.005em 0 #be0023, 0.01em 0.01em 0 #ce0000, 0.015em 0.015em #ce0000, 0.02em 0.02em 0 #ce0000, 0.025em 0.025em 0 #ce0000, 0.03em 0.03em 0 #ce0000, 0.035em 0.035em 0 #ce0000;
}

.hello:hover:nth-child(2) {

	color: #ff800a;
	text-shadow: -0.0075em 0.0075em 0 #ff800a, 0.005em 0.005em 0 #ff800a, 0.01em 0.01em 0 #8a4300, 0.015em 0.015em #8a4300, 0.02em 0.02em 0 #8a4300, 0.025em 0.025em 0 #8a4300, 0.03em 0.03em 0 #8a4300, 0.035em 0.035em 0 #8a4300;

}

.hello:active:nth-child(2) {


	text-decoration: underline ;

}

.hello:hover:nth-child(3) {

	color: rgb(255, 230, 0);
	text-shadow: -0.0075em 0.0075em 0 rgb(255, 230, 0), 0.005em 0.005em 0 rgb(255, 230, 0), 0.01em 0.01em 0 rgb(133, 119, 0), 0.015em 0.015em rgb(133, 119, 0), 0.02em 0.02em 0 rgb(133, 119, 0), 0.025em 0.025em 0 rgb(133, 119, 0), 0.03em 0.03em 0 rgb(133, 119, 0), 0.035em 0.035em 0 rgb(133, 119, 0);
}

.hello:active:nth-child(3) {


	text-decoration: underline ;

}

.hello:hover:nth-child(4) {

	color: #12da00;
	text-shadow: -0.0075em 0.0075em 0 #12da00, 0.005em 0.005em 0 #12da00, 0.01em 0.01em 0 #0b8000, 0.015em 0.015em #0b8000, 0.02em 0.02em 0 #0b8000, 0.025em 0.025em 0 #0b8000, 0.03em 0.03em 0 #0b8000, 0.035em 0.035em 0 #0b8000;
}

.hello:active:nth-child(4) {


	text-decoration: underline ;
}

.hello:hover:nth-child(5) {

	color: #00c3ff;
	text-shadow: -0.0075em 0.0075em 0 #00c3ff, 0.005em 0.005em 0 #00c3ff, 0.01em 0.01em 0 #005f7c, 0.015em 0.015em #005f7c, 0.02em 0.02em 0 #005f7c, 0.025em 0.025em 0 #005f7c, 0.03em 0.03em 0 #005f7c, 0.035em 0.035em 0 #005f7c;
}

.hello:active:nth-child(5) {


	text-decoration: underline ;

	
}

.hello:hover:nth-child(6) {

	color: #2000d3;
	text-shadow: -0.0075em 0.0075em 0 #2000d3, 0.005em 0.005em 0 #2000d3, 0.01em 0.01em 0 #120079, 0.015em 0.015em #120079, 0.02em 0.02em 0 #120079, 0.025em 0.025em 0 #120079, 0.03em 0.03em 0 #120079, 0.035em 0.035em 0 #120079;
}

.hello:active:nth-child(6) {


	text-decoration: underline ;

	
}






.thomas:hover:nth-child(1) {

	color: #be0023;
	text-shadow: -0.0075em 0.0075em 0 #be0023, 0.005em 0.005em 0 #be0023, 0.01em 0.01em 0 #ce0000, 0.015em 0.015em #ce0000, 0.02em 0.02em 0 #ce0000, 0.025em 0.025em 0 #ce0000, 0.03em 0.03em 0 #ce0000, 0.035em 0.035em 0 #ce0000;
}

.thomas:active:nth-child(1) {


	text-decoration: underline ;

	
}

.thomas:hover:nth-child(2) {

	color: #ff800a;
	text-shadow: -0.0075em 0.0075em 0 #ff800a, 0.005em 0.005em 0 #ff800a, 0.01em 0.01em 0 #8a4300, 0.015em 0.015em #8a4300, 0.02em 0.02em 0 #8a4300, 0.025em 0.025em 0 #8a4300, 0.03em 0.03em 0 #8a4300, 0.035em 0.035em 0 #8a4300;

}

.thomas:active:nth-child(2) {


	text-decoration: underline ;

	
}

.thomas:hover:nth-child(3) {

	color: rgb(255, 230, 0);
	text-shadow: -0.0075em 0.0075em 0 rgb(255, 230, 0), 0.005em 0.005em 0 rgb(255, 230, 0), 0.01em 0.01em 0 rgb(133, 119, 0), 0.015em 0.015em rgb(133, 119, 0), 0.02em 0.02em 0 rgb(133, 119, 0), 0.025em 0.025em 0 rgb(133, 119, 0), 0.03em 0.03em 0 rgb(133, 119, 0), 0.035em 0.035em 0 rgb(133, 119, 0);
}

.thomas:active:nth-child(3) {


	text-decoration: underline ;

	
}

.thomas:hover:nth-child(4) {

	color: #12da00;
	text-shadow: -0.0075em 0.0075em 0 #12da00, 0.005em 0.005em 0 #12da00, 0.01em 0.01em 0 #0b8000, 0.015em 0.015em #0b8000, 0.02em 0.02em 0 #0b8000, 0.025em 0.025em 0 #0b8000, 0.03em 0.03em 0 #0b8000, 0.035em 0.035em 0 #0b8000;
}

.thomas:active:nth-child(4) {


	text-decoration: underline ;

	
}

.thomas:hover:nth-child(5) {

	color: #00c3ff;
	text-shadow: -0.0075em 0.0075em 0 #00c3ff, 0.005em 0.005em 0 #00c3ff, 0.01em 0.01em 0 #005f7c, 0.015em 0.015em #005f7c, 0.02em 0.02em 0 #005f7c, 0.025em 0.025em 0 #005f7c, 0.03em 0.03em 0 #005f7c, 0.035em 0.035em 0 #005f7c;
}

.thomas:active:nth-child(5) {


	text-decoration: underline ;

	
}

.thomas:hover:nth-child(6) {

	color: #2000d3;
	text-shadow: -0.0075em 0.0075em 0 #2000d3, 0.005em 0.005em 0 #2000d3, 0.01em 0.01em 0 #120079, 0.015em 0.015em #120079, 0.02em 0.02em 0 #120079, 0.025em 0.025em 0 #120079, 0.03em 0.03em 0 #120079, 0.035em 0.035em 0 #120079;
}

.thomas:active:nth-child(6) {


	text-decoration: underline ;

	
}

.thomas:hover:nth-child(7) {

	color: #be0023;
	text-shadow: -0.0075em 0.0075em 0 #be0023, 0.005em 0.005em 0 #be0023, 0.01em 0.01em 0 #ce0000, 0.015em 0.015em #ce0000, 0.02em 0.02em 0 #ce0000, 0.025em 0.025em 0 #ce0000, 0.03em 0.03em 0 #ce0000, 0.035em 0.035em 0 #ce0000;
}

.thomas:active:nth-child(7) {


	text-decoration: underline ;

	
}

.thomas:hover:nth-child(8) {

	color: #ff800a;
	text-shadow: -0.0075em 0.0075em 0 #ff800a, 0.005em 0.005em 0 #ff800a, 0.01em 0.01em 0 #8a4300, 0.015em 0.015em #8a4300, 0.02em 0.02em 0 #8a4300, 0.025em 0.025em 0 #8a4300, 0.03em 0.03em 0 #8a4300, 0.035em 0.035em 0 #8a4300;

}

.thomas:active:nth-child(8) {


	text-decoration: underline ;

	
}

.thomas:hover:nth-child(9) {

	color: rgb(255, 230, 0);
	text-shadow: -0.0075em 0.0075em 0 rgb(255, 230, 0), 0.005em 0.005em 0 rgb(255, 230, 0), 0.01em 0.01em 0 rgb(133, 119, 0), 0.015em 0.015em rgb(133, 119, 0), 0.02em 0.02em 0 rgb(133, 119, 0), 0.025em 0.025em 0 rgb(133, 119, 0), 0.03em 0.03em 0 rgb(133, 119, 0), 0.035em 0.035em 0 rgb(133, 119, 0);
}

.thomas:active:nth-child(9) {


	text-decoration: underline ;

	
}

.footer {
	display: none;
}

@media screen and (max-width: 600px) {
    .personalbox {
        padding-left: 10px;
		padding-right: 10px;
		
		z-index: 1;
		text-align: center;
		width: auto;
		height: auto;
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: auto;
		font-family: Arial, Helvetica, sans-serif;
		color: #ffffff;
		font-size: 1.3rem;
		line-height: 1.35;
    }
	.menu {
		display: none;
	}
    .footer {
        display: inline;
    }

	.card {
		height: 450px;
	}		

	li {
		transition: transform 0.25s ease-in-out;
		z-index: 1;
		display: inline;
	}
	
	
	li:hover {
		transform: rotate(0deg);
	  }
}


